<!--<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">-->

<div class="jumbotron center">
  <h1>If it's handcrafted, vintage,</br>
      custom, or unique, it's on Epsy</h1>
</div>




<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency listing.price %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>


          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>

