<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class="center">Images</th>
      <th class="center">Name</th>
      <th class="center">Description</th>
      <th class="center">Price</th>
      <th class="center">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= image_tag(listing.image.url(:thumb)) %></td>
      <td><%= listing.name %></td>
      <td><%= listing.description %></td>
      <td><%= number_to_currency(listing.price) %></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "View", listing %></li>
            <li><%= link_to "Edit", edit_listing_path(listing) %></li>
            <li><%= link_to "Destroy", listing, method: :delete, data: {confirm: "Are you sure?"} %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>

