<div class="row">
  <div class="col-md-6">
    <%= image_tag(@listing.image.url(:medium)) %><br/>
    <% if user_signed_in? && current_user == @listing.user %>
      <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link " %>
    <% end %>

      <%= link_to 'Back', listings_path, class: "btn btn-link" %>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency @listing.price %></p>
    <p><%= "Sold by #{@listing.user.name}" %></p>
    <p><%= @listing.description %></p>
    <br>
    <div class="center">
      <%= link_to "Buy now", new_listing_order_path(@listing), class: "btn btn-primary" %>
    </div>
  </div>
</div>


