<%= form_for [@listing, @order] do |form| %>
    <% if @order.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize( @order.errors.count, "error") %> prohibited this order from being saved:</h4>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :state %>
      <%= form.text_field :state, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Complete Order", class: "btn btn-primary"%>
    </div>
<% end %>
