<%= form_tag payment_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @order.price %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.storage.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @order.price %>"
          data-locale="auto"></script>
<% end %>