<div class="center">
  <h2>Your Purchases</h2>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th class="center">Images</th>
    <th class="center">Item</th>
    <th class="center">Price</th>
    <th class="center">Seller</th>
    <th class="center">Date Purchased</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag(order.listing.image.url(:thumb)) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= number_to_currency(listing.price) %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y")%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
<% end %>

