@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Monstserrat, Arial, Helvetica ;
}

.navbar-default {
  background-color: #EFEFEB;
  .navbar-brand {
    font-family: guardian-egyptt, Georgia, serif;
    font-weight: 400;
    color: #d5641c;
    font-size: 30px;
  }
  
  .navbar-nav > li > a {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    color: #0192B5;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {
    font-size: 25px;}
  p {
    font-size: 18px;
  }
}


.jumbotron {
  background-image: url('https://epsycwn.s3-ap-southeast-1.amazonaws.com/listings/images/jumbotron.jpg');

  h1 {
    color: #F5F5F1;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 36px;
    font-family: 'guardian-egyptt', Serif, Georgia;
  }
}

.btn btn-primary {
  color: #ffffff;
}

